**/.idea
db/data

game/data/global_kill_stats.json
game/data/eco/grandexchange.db

game/data/logs/
game/data/players/
game/data/serverstore/
game/data/eco/bot_offers.json
game/data/eco/grand_exchange_db.emp
game/data/eco/grandexchange.db
game/data/global_kill_stats.json
game/plugins/plsto

data/eco/offer_dispatch_db.emp
data/logs/**
data/players/**
data/profile/**

